:root {
    --background: #121212;
    --primary: #4ed842;
    --important: #ff0000;
}

body {
    font-family: 'Consolas', 'Courier New', monospace;
    background-color: var(--background);
    color: var(--primary);
    padding-inline: 15em;
    overflow-y: scroll;
}

* {
    -webkit-tap-highlight-color: transparent !important;
}

h1 {
    border-bottom: 1px var(--primary) ridge;
}

h3 {
    text-decoration: underline;
}

h5 {
    font-weight: 600;
    font-size: 0.98rem;
}

p {
    white-space: pre-wrap;
    overflow: hidden;
}

b {
    background-color: rgba(79, 79, 85, 0.4);
    color: aliceblue;
}

pre {
    background-color: rgb(32, 31, 31);
    border: 2px ridge rgb(56, 53, 53);
    border-radius: 4px;
    color: var(--primary);
    overflow-x: auto;
    display: block;
    box-shadow: 0px 1px 10px 1px var(--primary);
    margin-block: 3em;
}

code{
    line-height: 2em;
}

div {
    padding: 5px;
}

a,
a:visited {
    color: red;
}

ul {
    list-style: none;
    padding: 0;
}

ul li:before {
    content: '✓';
    font-size: 1.1rem;
    margin-right: 5px;
}

li {
    padding-block: 0.5em;
}

img {
    margin-top: 1em;
}

figure {
    margin: 0;
}

figcaption {
    padding-top: 10px;
    padding-bottom: 20px;
    font-style: italic;
}

.m-img{
    max-width: 100%;
}

.centered-img{
    max-width: 400px;
}

.text-center {
    text-align: center;
}

.marquee {
    height: 50px;
    overflow: hidden;
    position: relative;
    background: var(--background);
    color: var(--primary);
}

.marquee p {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 50px;
    text-align: center;
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-animation: scroll-left 2s linear infinite;
    -webkit-animation: scroll-left 2s linear infinite;
    animation: scroll-left 20s linear infinite;
    transform: translateX(100%);
}

.collapsable {
    position: relative;
    background-color:rgb(18, 18, 18);
    color: var(--primary);
    border: 0;
    margin-block: 0.7em;
    width: 100%;
    padding: 10px;
    padding-block: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 150ms;
    font-weight: 700;
    font-size: 1rem;
    box-shadow: var(--primary) 0px 2px 8px 0px;
}

.collapsable:hover {
    background-color:rgb(20, 20, 21);
    box-shadow: var(--primary) 0px 18px 50px -10px;
}

.active {
    box-shadow: var(--primary) 0px 18px 50px -10px;
}  

.content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 50ms ease-in;
}

.research {
    box-shadow: var(--primary) 0px 0px 1px 1px !important
}

.button-wrap {
    display: flex;
    justify-content: center;
}

#UP {
    user-select: none;
    font-size: 1.2rem;
    font-weight: bolder;
}

#fast-scroll {
    user-select: none;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    border: var(--primary) solid 2px;
    position: fixed;
    right: -20em;
    bottom: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0px 1px 10px 1px var(--primary);
    transition: right 900ms;
    z-index: 1;
}

#fast-scroll:hover {
    box-shadow: 0px 1px 20px 10px var(--primary);
}

#fast-scroll:active {
    background-color: var(--primary);
    opacity: 0.6;
    color: var(--background);
}

#fn-button {
    background-color: transparent;
    color: var(--primary);
    border-radius: 50%;
    border:0;
    font-size: 1.1rem;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}

@-moz-keyframes scroll-left {
    0% {
        -moz-transform: translateX(100%);
    }

    100% {
        -moz-transform: translateX(-100%);
    }
}

@-webkit-keyframes scroll-left {
    0% {
        -webkit-transform: translateX(100%);
    }

    100% {
        -webkit-transform: translateX(-100%);
    }
}

@keyframes scroll-left {
    0% {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }

    100% {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

@media only screen and (max-width: 60em) {
    body {
        padding-inline: 2em;
    }

    img {
        width: 100%;
    }

    #fn-button {
        margin-top: 1em;
        width: 100%;
    }
}